@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg-rgb: #d79921;
  --bg-rgb: #282828;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--fg-rgb);
  background: var(--bg-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
