@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg-rgb: #d79921;
  --bg-rgb: #282828;
  --bg2-rgb: #504945;
  --bg3-rgb: #665c54;
  --err-fg-rgb: #cc241d;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --loading-len: 248.776657104492px;
  --loading-time: 1.6s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--fg-rgb);
  background: var(--bg-rgb);
}

button {
  border-color: var(--bg2-rgb);
  border-width: 2px;
  border-style: solid;
  border-radius: 7px;
  padding: 0.5rem 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  display: none;
}

/* ::-webkit-scrollbar-track { */
/* Customize the scrollbar track */
/* } */

/* ::-webkit-scrollbar-thumb { */
/* Customize the scrollbar thumb */
/* } */
